/* Style for the header div */
		.header {
			background-color: white;
			padding: 0px;
			text-align: center;
			box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.3);
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 999;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.header h2 {
			color: maroon;
			font-weight: bold;
			margin: 0;
		}

		.user-profile {
			display: flex;
			align-items: center;
			margin-right: 20px;
		}

		.user-profile img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.user-details {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-right: 10px;
		}

		.user-details .username {
			font-weight: bold;
		}

		.dropdown {
			position: relative;
			display: inline-block;
			
		}

		.dropdown-content {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			background-color: #f9f9f9;
			width: 200px;
			z-index: 9999;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			border-radius: 5px;
			overflow: hidden;
			 
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none !important;;
			display: block;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropbtn {
			background-color: white;
			color: maroon;
			font-size: 20px;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}

		.dropbtn:hover {
			background-color: #f7f7f7;
		}
		.second-row {
			 display: flex;
			  height: 40vh; /* set the height to 30% of the viewport height */
			  border-top: 1px solid #ccc;
			  border-bottom: 1px solid #ccc;
			  margin-top: 80px;
			  width:100%;
		}

		.col-1 {
			width: 65%;
			background-color: #eee;
			white-space: normal;
			overflow-y: auto;
			overflow-y: hidden;
		}	

		.col-2 {			
			width: 35%;	
			height:100%;
			padding-left:1%;
			background-color: #ccc;
			overflow-y: auto;
		}
		.col-1, .col-2 {
		  border: 1px solid #ccc;
		  box-sizing: border-box;
		}
		body {
		  height: 100%;
		  overflow-x: hidden;
		}
		
		.third-row {
		  background-color: #ffff4d;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  height: 5%;
		  width: 100%;
		  border-bottom: 1px solid #ccc;
		  margin-top: 0%;
		 
		}

		.third-row .buttons-container {
		  display: flex;
		  align-items: center;
		  cursor: pointer;
		}

		.third-row .button-save {
		  background-color: #4CAF50;
		  border: none;
		  color: white;
		  padding: 8px 16px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin-right: 10px;
		  cursor: pointer;
		}

		.third-row .button-run {
		  background-color: #f44336;
		  border: none;
		  color: white;
		  padding: 8px 16px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin-right: 10px;
		  cursor: pointer;
		}
		
		.fourth-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100vh;
			width: 100%;
			background-color: #ccc;
			border-bottom: 1px solid #999;
			margin-top: 0%;
		}

		.fourth-row .left {
			background-color: #ddd;
			width: 65%;
			height: 100%;
			border: 1px solid #ccc;
		    box-sizing: border-box;
		}

		.fourth-row .right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 35%;
			height: 100%;
		}

		.fourth-row .right .top {
			background-color: #eee;
			width: 100%;
			height: 50%;
			border: 1px solid #ccc;
		    box-sizing: border-box;
		}

		.fourth-row .right .bottom {
			background-color: #ddd;
			width: 100%;
			height: 50%;
			border: 1px solid #ccc;
		    box-sizing: border-box;
		}
		.footerdiv
		{
			margin-top: 0%;
		}
		
		footer {
			background-color: #fff;
			color: #333;
			padding: 5px;
			text-align: center;
			position: flex;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		footer p {
			margin: 0;
		}
		#editor {
			
		  height: 100%;
		  width: 100%; /* optional: to make sure the textarea fills the parent element horizontally */
		}
				
		.CodeMirror {
		  font-size: 18px !important;
		}
			
		.col-2 button {
			width: 150px; /* set width for all buttons with class "button" */
			height: 40px;
			background-color: blue;
			color: white;
			font-size: 16px;
			margin: 5px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.col-2 button:hover {
			background-color: #3e8e41;
		}
		.loading-msg {
			display: block;
			text-align: left;
			margin-top: 20px;
			font-weight: bold;
			color:blue;
		}
		.input_area
		{
			height: 100%;
			width: 100%;
			resize: none;
			box-sizing: border-box;
			overflow-y: auto;
			border: 2px solid blue;
			background-color:black;
			color:#fff;
			font-size:18px;
		}
		.output_area
		{
			height: 100%;
			width: 100%;
			resize: none;
			box-sizing: border-box;
			overflow-y: auto;
			border: 3px solid blue;
			background-color:black;
			color:#fff;
			font-size:18px;
		}